@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');
body {
    margin: 0;
    background-color: rgb(167, 167, 167);
}

.boxes {
    /* height: 40px; */
    /* width: 40px; */
    border: 1px solid black;
    box-sizing: border-box;
}

.rows {
    display: flex;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 640px;
    width: 640px;
    background-color: white;
    border: 5px solid #00eeff;
}

#btnHolder {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    margin-bottom: 20px;
    margin-top: 0;
}

#resize,
#clear {
    padding: 8px;
    width: 200px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: #00eeff;
    color: white;
    font-size: 20px;
    font-weight: 900;
    border: none;
    /* border: 5px solid #00eeff;    */
}

#canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    margin: 0;
    color: #f700ff;
    text-align: center;
    font-size: 100px;
    font-family: "Ga Maamli", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
