body {
    margin: 0;
}

.boxes {
    height: 28px;
    width: 28px;
    border: 1px solid black;
    box-sizing: border-box;
}

.rows {
    display: flex;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 448px; */
    /* width: 448px; */
}

#btnHolder {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    margin: 20px;
}

#resize,
#clear {
    padding: 8px;
    width: 200px;
    margin-left: 10px;
}

#canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    color: #ff00d4;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
